@media (max-width: 591px) {

    .fon {
        box-sizing: border-box;
    }

    .ground {
        width: 80vw;
        height: 80vw;
    }   

    .fa-times  {
        font-size: 23vw;
    padding-top: 1vw;
    }
    
    .fa-circle {
        font-size: 19vw;
        padding-top: 4.76vw;
    }

    h1 {
        font-size: 70px;
    }

}

@media (max-width: 551px) {
    footer {
        font-size: 20px;
        padding: 4px;
        
      }
}
@media (max-width: 440px) {
    .right {
        display: none;
    }
    
}